* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(67, 131, 67);
}

.header {
    display: flex;
    background: rgb(67, 131, 67);
    justify-content: space-around;
    padding: 1rem;
}

.nav {
    background: rgb(67, 131, 67);
    text-align: center;
}

.nav h3 {
    text-align: center;
    margin-left: 3rem;
}

.addIcon {
    margin-top: 5rem;
    border: 2px solid black;
    border-radius: 50%;
    padding: 1rem;
}

.iconHeading {
    padding-top: 6rem;
}

.myImage {
    width: 30%;
}

.container {
    background: rgb(20, 66, 20);
    display: flex;
}

.body {
    display: flex;
}

.habit {
    /* background: red; */
    padding: 0.5rem;
    border: 2px solid black;
    margin: 1rem;
}